{% comment %}
  Renders offer-carousel on main-offer page.
  Accepts:
    - thumbnails: {boolean} if we want to generate thumbnails
    - content: {object} lists of images' file names ie: files/image_file_name.png

  Usage:
  {% assign content = 'files/image_file_name_1.png,files/image_file_name_2.png' | split: ',' %}
  {%- render 'offer-carousel', thumbnails: true, content: content -%}
{% endcomment %}

{%- assign slides = content.slides.value -%}

{%- if slides -%}
  <carousel-container
    data-slides-per-view="1"
    data-space-between="15"
  >
    <div class="carousel-main">
      <div class="carousel-wrap">
        <div class="carousel-track">
          {%- for slide in slides -%}
            <div class="carousel-slide">
              {%- liquid
                assign widths = '315, 495, 635, 945, 990, 1270, 1485, 1905'
                assign sizes = '(max-width: 767px) calc(91.5vw - 30px), (min-width: 768px) calc((100vw / 2)  - 90px), (min-width: 992px) 495px, (min-width: 1200px) 635px'
                assign loading = 'eager'

                unless forloop.first
                  assign loading = 'lazy'
                endunless

                echo slide | image_url: width: 1905 | image_tag: widths: widths, sizes: sizes, class: 'carousel-slide__image', loading: loading
              -%}
            </div>
          {%- endfor -%}
        </div>
      </div>

      <button class="carousel-nav carousel-prev">
        {%- render 'icon-arrow' -%}
      </button>

      <button class="carousel-nav carousel-next">
        {%- render 'icon-arrow' -%}
      </button>
    </div>

    {%- if thumbnails -%}
      <div class="carousel-thumbnails">
        {%- for slide in slides -%}
          <div class="thumbnail">
            {%- liquid
              assign widths = '57, 91, 124, 203, 279'
              assign sizes = '(max-width: 767px) calc((100vw - 105px) / 6), (min-width: 768px) calc((50vw - 135px) / 6), (min-width: 992px) 69px, (min-width: 1200px) 93px'
              assign loading = 'eager'

              unless forloop.first
                assign loading = 'lazy'
              endunless

              echo slide | image_url: width: 300 | image_tag: sizes: sizes, widths: widths, class: 'carousel-slide__thumb-image', loading: loading
            -%}
          </div>
        {%- endfor -%}
      </div>
    {%- endif -%}
  </carousel-container>
{%- endif -%}
