{{- 'section-marquee.css' | asset_url | stylesheet_tag -}}

{%- style -%}
  .marquee__container {
    background: {{- section.settings.background_color -}}
  }
{%- endstyle -%}

<div class="marquee__container">
  <div class="marquee__wrap scroll-trigger animate--slide-in">
    {%- for index in (1..2) -%}
      <div class="marquee__content scroll">
        {%- for block in section.blocks -%}
          {%- if block.settings.marquee_text != blank -%}
            <div class="marquee__blocks_slide">
              <p class="marquee__blocks_text">
                {{- block.settings.marquee_text -}}
              </p>
            </div>
          {%- endif -%}
        {%- endfor -%}
      </div>
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.marquee.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "color",
      "label": "Background color",
      "id": "background_color",
      "default": "#105750"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "t:sections.marquee.blocks.name",
      "settings": [
        {
          "type": "text",
          "label": "Text",
          "id": "marquee_text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.marquee.presets.name"
    }
  ]
}
{% endschema %}
