.product-card-wrapper--custom .card__inner {
  position: relative;
}

.product-card-wrapper--custom .card__inner_link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  gap: 1rem;
}

.product-card-wrapper--custom .card__inner_link:hover {
  text-decoration: none;
}

.product-card-wrapper--custom .card__inner_link .card__content_head {
  text-align: left;
}

.product-card-wrapper--custom .card__inner_link:hover .card__content_head {
  color: rgb(var(--color-button));
  transition: 0.2s color ease-in-out;
}

.product-card-wrapper--custom .card__inner {
  padding: 16.5% var(--image-padding);
  background: rgb(var(--color-button-text));
}

.product-card-wrapper--custom .card-information {
  display: flex;
}

.card__inner_img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.product-card-wrapper--custom .card__content {
  padding: 0;
  row-gap: 1rem;
}

.card__content_head {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  color: rgb(var(--color-foreground));
}

.card-button-wrap button {
  min-height: calc(3rem + var(--buttons-border-width) * 2);
  font-size: 1.4rem;
  font-weight: var(--font-body-weight-bold);
}

.card-button-wrap button:after,
.card-button-wrap button:before {
  content: none;
}

.card-button-wrap button:hover {
  background: rgb(197, 250, 84);
  color: rgb(var(--color-foreground));
}

.card__subscription_badge {
  padding: 0 0.6rem;
  background: rgb(var(--color-button));
  border-radius: 0.4rem 0 0 0.4rem;
  line-height: calc(1 + 1.2 / var(--font-body-scale));
  font-size: 1rem;
  color: rgb(var(--color-secondary-button));
  letter-spacing: 0;
  position: absolute;
  right: 0;
  top: 1.4rem;
}

.product-card-wrapper--custom .price {
  font-family: var(--font-accent-family);
  font-weight: 500;
}

@media screen and (min-width: 750px) {
  .product-card-wrapper--custom .card__inner {
    padding-left: calc((var(--image-padding) / 2) - 5px);
    padding-right: calc((var(--image-padding) / 2) - 5px);
  }

  .product-card-wrapper--custom .card__inner_link {
    gap: 2rem;
  }

  .product-card-wrapper--custom .card__content {
    row-gap: 2rem;
  }

  .card__content_head,
  .product-card-wrapper--custom .price {
    font-size: calc(var(--font-heading-scale) * 1.8rem);
  }

  .card-button-wrap button {
    min-height: calc(4.4rem + var(--buttons-border-width) * 2);
    font-size: calc(var(--font-heading-scale) * 1.6rem);
  }

  .card__subscription_badge {
    padding: 1.2rem 2.5rem;
    border-radius: 0.8rem 0 0 0.8rem;
    font-size: calc(var(--font-heading-scale) * 1.4rem);
    line-height: calc(1 / var(--font-body-scale));
  }
}

@media screen and (min-width: 990px) {
  .product-card-wrapper--custom .card__inner {
    padding-left: 0;
    padding-right: 0;
  }

  .product-card-wrapper--custom .card__content {
    row-gap: 1.5rem;
  }

  .card__subscription_badge {
    padding: 1.2rem;
    top: 2.3rem;
  }
}
