.header-timer {
  padding: 0.5rem 2.7rem 0.2rem;
  border: 1px solid rgb(var(--color-foreground));
  text-align: center;
  border-radius: 100px;
}

.header-timer--heading {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 700;
  color: rgb(var(--color-foreground));
}

.header-timer--counter {
  font-size: 1.2rem;
  font-weight: 400;
  color: rgb(var(--color-foreground));
}
