.totals {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.totals > * {
  font-size: 1.6rem;
  margin: 0;
}

.totals > h2 {
  font-size: calc(var(--font-heading-scale) * 1.6rem);
}

.totals * {
  line-height: 1;
}

.totals > * + * {
  margin-left: 2rem;
}

.totals > h2.totals__total {
  font-size: 1.8rem;
  letter-spacing: 0;
  position: relative;
  word-break: normal;
}

.totals__total-icon {
  margin-top: 1px;
  fill: rgb(var(--color-link));
  position: absolute;
  top: 50%;
  right: -17px;
  transform: translateY(-50%);
}

.totals__total-value {
  font-size: 1.8rem;
  font-weight: 700;
  color: rgb(var(--color-foreground));
}

.cart__ctas + .totals {
  margin-top: 2rem;
}

@media all and (min-width: 750px) {
  .totals {
    justify-content: flex-end;
  }

  .totals > h2.totals__total,
  .totals__total-value {
    font-size: 2rem;
  }
}
