.custom-3-content {
  overflow: hidden;
}

.custom-3_section__bg {
  position: relative;
}

.custom-3_section_contsiner {
  padding: 0 2.8rem;
}

.custom-3_section__bg {
  margin: 5.4rem 0 24rem;
}

.custom-3_additional_img {
  width: 9.1rem;
  height: 6.8rem;
}

.custom-3_section__letter {
  margin: 0 auto;
  padding: 5.2rem 2.4rem 5.4rem 3.4rem;

  max-width: 672px;

  position: relative;
}

.custom-3__content_full {
  display: none;
}

.custom-3_trigger {
  margin-top: 2rem;

  display: block;

  font-size: 1.6rem;
  font-weight: 400;
  text-transform: capitalize;
  color: rgb(var(--color-button));
}

.additional_img_3 {
  display: none;
}

.absolute_img {
  position: absolute;
}

.additional_img_1 {
  left: -2.3rem;
  top: -.9rem;
}

.additional_img_2 {
  right: -2.7rem;
  top: -1.2rem;
}

.additional_img_bottom {
  position: absolute;
  bottom: -21.2rem;
  left: 50%;
  transform: translate(-50%);
  width: 26.2rem;
  display: block;
}

.custom-3_section_img {
  width: 100%;
  height: auto;
}

.custom-3_section__title {
  margin: 0;
}

.custom-3_section__description,
.custom-3_section__description p {
  margin-top: 1rem;
  margin-bottom: 0;

  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
}

.custom-3_section__description {
  p + p {
    margin-top: 2rem;
  }
  p:last-child {
    margin-top: 0;
  }
}

.custom-3__content_hidden {
  display: none;
}


@media screen and (min-width: 768px) {
  .custom-3_section__bg {
    margin: 12rem 0 24rem;
  }

  .custom-3_trigger {
    display: none;
  }

  .custom-3__content_full {
    display: block;
  }

  .custom-3__content_truncated {
    display: none;
  }

  .custom-3__content_hidden {
    margin-top: .5rem;

    display: inline;
  }

  .custom-3_text {
    margin-top: 2.5rem;
  }

  .custom-3_section__description {
    margin-top: 3.5rem;

    font-size: 1.8rem;

    p {
      margin-top: 2.5rem;

      font-size: 1.8rem;
    }
  }

  .additional_img_3 {
    display: block;

    left: -2.7rem;
  }

  .additional_img_bottom {
    width: 50%;
    transform: translate(0);
    left: auto;
    right: -6.3rem;
    bottom: -26rem;
  }
}

@media screen and (min-width: 1200px) {
  .custom-3_section__bg {
    margin: 12rem 0 20rem;
  }

  .custom-3_section__letter {
    padding: 5.5rem 4.2rem 17.9rem 7.3rem;
  }
  .custom-3_additional_img {
    width: 23.1rem;
    height: 14.6rem;
  }

  .additional_img_1 {
    left: -7.4rem;
    top: -3.7rem;
  }

  .additional_img_2 {
    right: -4.5rem;
    top: -4.4rem;
  }

  .additional_img_3 {
    left: -6rem;
    bottom: -3.9rem;
  }

  .additional_img_bottom {
    bottom: -16.4rem;
  }
}
