.rich-text-carousel__heading {
  text-align: center;
}

.rich-text-carousel__wrapper {
  flex-direction: column;
}

.rich-text-carousel__slide {
  display: block;
  width: 100%;
  text-align: center;
}

.rich-text-carousel__slide p {
  max-width: 525px;
  margin-left: auto;
  margin-right: auto;
}

.rich-text-carousel__slide img {
  max-width: 180px;
  max-height: 42px;
  width: 100%;
  height: auto;
  border-radius: 0;
}
