.header.page-width {
  max-width: unset;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
}

.header--sticky {
  position: fixed;
  top: 0;
  left: 0;
}

.header--wrapper {
  width: 100%;
  background: rgb(var(--color-background));
  z-index: 1;
}

.header--wrapper--inner {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
  display: grid;
  grid-template-areas: 'left-icons heading icons';
  align-items: center;
}

.header--wrapper--inner.header--wrapper--inner-col-3 {
  grid-template-columns: 1fr 2fr 1fr;
}

.header--wrapper--inner.header--wrapper--inner-col-2 {
  grid-template-columns: 1fr 1fr;
}

.header--wrapper--inner.header--wrapper--inner-col-2 .header__heading {
  grid-area: left-icons;
}

.header--col_left {
  display: flex;
  align-items: center;
}



.header--top-left .header__heading,
.header--middle-left .header__heading{
  grid-column-start: 1;
}

.header--top-left .header--col_left,
.header--middle-left .header--col_left {
  grid-column-start: 2;
}

a.menu-drawer-close {
  cursor: pointer;
}

.header__icons {
  align-items: center;
}

.header__icon--menu-close {
  height: 34px;
  width: 34px;
  border-radius: 50%;
  background: rgb(var(--color-foreground));
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 999;
}

.header__icon--menu-close .icon-close {
  width: 14px;
  height: 14px;
}

.header__icon--menu-close .icon-close > path {
  fill: rgb(58, 57, 67);
}

.header__icons--info {
  display: none;
  margin: 0 15px 0 0;
}



@media screen and (max-width: 989px) {
  .header--wrapper {
    height: 50px;
  }

  .header--col_desktop-search {
    display: block;
  }

  .header__heading-logo {
    max-width: 110px;
  }

  .header__icon .icon {
    width: 18px;
    height: 18px;
  }

  .header__icon .icon.icon-account {
    width: 19px;
    height: 19px;
  }

  .header--col_desktop-search {
    display: none;
  }
}

.desktop-search--submit {
  width: 14px;
  height: 14px;
  padding: 0;
  display: none;
  background: none;
  border: none;
  position: absolute;
  right: 1px;
  top: 0;
  appearance: none;
  cursor: pointer;
}

.desktop-search--submit-icon {
  fill: rgb(var(--color-foreground));
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 990px) {
  .header--wrapper {
    height: 70px;
  }

  .header--top-center .header__search {
    display: none;
  }

  .header--col_desktop-search {
    display: block;
    width: auto;
    height: 20px;
    margin: 0 0 0 1.5rem;
    border-bottom: 2px solid rgb(var(--color-button));
    position: relative;
  }

  .desktop-search--link {
    display: block;
    font-size: 1.5rem;
    line-height: 1.2;
    color: rgb(var(--color-foreground));
    text-decoration: none;
    will-change: transform;
    transform: translateY(-3px) translateZ(0);
  }

  .desktop-search--input {
    width: auto;
    height: 1.8rem;
    display: none;
    overflow: visible;
    padding: 0;
    background: none;
    color: rgb(var(--color-foreground));
    border: none;
    outline: none;
    font-size: 1.5rem;
    -webkit-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    will-change: transform;
    transform: translateY(-3px) translateZ(0);
  }

  .desktop-search--input::placeholder {
    color: rgb(var(--color-foreground));
  }

  .desktop-search--input:focus-visible {
    box-shadow: none;
    outline: none;
  }

  .header__icon .icon:not(.icon-close) {
    width: 22px;
    height: 22px;
  }

  .header__icons--info {
    display: block;
  }
}
