.rich-text-carousel__slider.slider--everywhere {
  margin-bottom: 2rem;
}

.rich-text-carousel__heading {
  text-align: center;
  margin-top: 0;
  margin-bottom: 3rem;
}

.rich-text-carousel__wrapper {
  flex-direction: column;
}

.rich-text-carousel__slider {
  align-items: center;
}

.rich-text-carousel__slide {
  display: block;
  width: 100%;
  text-align: center;
}

.rich-text-carousel__slide p {
  max-width: 525px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.rich-text-carousel__slide img {
  max-width: 180px;
  max-height: 42px;
  width: 100%;
  height: auto;
  border-radius: 0;
  margin: 0 auto;
}

.rich-text-carousel__slider .slider-counter__link--dots .dot {
  cursor: auto;
}

