.product-main_wrapper {
  display: flex;
  flex-direction: column;
}

.product-main_info-desktop {
  display: none;
}

.product-main__slider_image {
  width: 100%;
  height: auto;
}

.slider-counter--thumbs {
  width: 100%;
  margin: 0;
}

.slider-counter__link--thumbs-dots {
  padding: 0;
  width: calc((100% - 60px) / 5);
  min-width: calc((100% - 60px) / 5);
}

.slider-counter__link--thumbs-dots ~ .slider-counter__link--thumbs-dots {
  margin-left: 15px;
}

.thumbs-dot {
  width: unset;
  height: unset;
}

.slideshow__control-wrapper-thumbs {
  width: 100%;
  display: flex;
  overflow-x: auto;
}

.product-main__thumbs_image {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 750px) {
  .product-main_wrapper {
    flex-direction: row;
  }

  .product-main_left,
  .product-main_right {
    width: 50%;
    padding: 0 15px;
  }

  .product-main_info-mobile {
    display: none;
  }

  .product-main_info-desktop {
    display: block;
  }
}
