.product-main_wrapper {
  display: flex;
  flex-direction: column;
}

.product-main_info-desktop {
  display: none;
}

.product-main__slider_image {
  width: 100%;
  height: auto;
}

.slider-counter--thumbs {
  width: 100%;
  margin: 0;
}

.slider-counter__link--thumbs-dots {
  padding: 0;
  width: calc((100% - 60px) / 5);
  min-width: calc((100% - 60px) / 5);
}

.slider-counter__link--thumbs-dots ~ .slider-counter__link--thumbs-dots {
  margin-left: 15px;
}

.thumbs-dot {
  width: unset;
  height: unset;
}

.slideshow__control-wrapper-thumbs {
  width: 100%;
  display: flex;
  overflow-x: auto;
}

.product-main__thumbs_image {
  width: 100%;
  height: auto;
}

.picker-dogsize_input,
.picker-offer_input {
  display: none;
}

.picker-dogsize_label {
  display: block;
  color: rgb(var(--color-foreground));
  text-align: center;
  line-height: 4.4rem;
  font-size: 1.6rem;
  cursor: pointer;
}

.picker-dogsize_input:checked+.picker-dogsize_label {
  width: 106%;
  color: rgb(var(--color-secondary-button));
  background: rgb(var(--color-button));
  margin-left: -3%;
  border-radius: 30px;
}

.picker-offer_input:checked+.picker-offer_label {
  border-color: rgb(var(--color-foreground));

  .picker-offer_label-circle {
    border-color: rgb(var(--color-foreground));

    &:before {
      content: "";
      width: 13px;
      height: 13px;
      position: absolute;
      top: 4px;
      left: 4px;
      background: rgb(var(--color-button));
      border-radius: 50%;
    }
  }
}

.picker-offer_label {
  height: 75px;
  margin-bottom: 25px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(var(--color-secondary-button));
  border: 2px solid rgba(var(--color-foreground), .5);
  cursor: pointer;
  border-radius: 10px;
}

.picker-offer_label-circle {
  width: 25px;
  height: 25px;
  display: block;
  position: relative;
  margin-right: 10px;
  border: 2px solid rgba(var(--color-foreground), .5);
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.picker-offer_label-left {
  flex-grow: 1;
  padding-left: 15px;
}

@media screen and (min-width: 750px) {
  .product-main_wrapper {
    flex-direction: row;
  }

  .product-main_left,
  .product-main_right {
    width: 50%;
    padding: 0 15px;
  }

  .product-main_info-mobile {
    display: none;
  }

  .product-main_info-desktop {
    display: block;
  }
}
