.product-main_wrapper {
  display: flex;
  flex-direction: column;
}

.product-main_info-desktop {
  display: none;
}

@media screen and (min-width: 750px) {
  .product-main_wrapper {
    flex-direction: row;
  }

  .product-main_left {
    width: 50%;
    padding: 0 15px;
  }

  .product-main_right {
    width: 50%;
    padding: 0 15px;
  }

  .product-main_info-mobile {
    display: none;
  }

  .product-main_info-desktop {
    display: block;
  }
}

.product-main_title_numbers {
  font-family: var(--font-accent-family);
  font-size: 1.8rem;
  line-height: 140%;
  font-weight: 500;
}

.product-main__slider_image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.slider-counter--thumbs {
  width: 100%;
  margin: 0;
}

.slider-counter__link--thumbs-dots {
  padding: 0;
  width: calc((100% - 60px) / 5);
  min-width: calc((100% - 60px) / 5);
}

.slider-counter__link--thumbs-dots ~ .slider-counter__link--thumbs-dots {
  margin-left: 15px;
}

.thumbs-dot {
  width: unset;
  height: unset;
}

.slideshow__control-wrapper-thumbs {
  width: 100%;
  display: flex;
  overflow-x: auto;
}

.product-main__thumbs_image {
  width: 100%;
  height: auto;
}

.picker-dogsize_input,
.picker-offer_input {
  display: none;
}

.picker-dogsize_label {
  display: block;
  color: rgb(var(--color-foreground));
  text-align: center;
  line-height: 4.4rem;
  font-size: 1.6rem;
  cursor: pointer;
}

.picker-dogsize_input:checked+.picker-dogsize_label {
  width: 100%;
  color: rgb(var(--color-secondary-button));
  background: rgb(var(--color-button));
  margin-left: 0;
  border-radius: 30px;
}

.picker-offer_input:checked+.picker-offer_label {
  border-color: rgb(var(--color-foreground));

  .picker-offer_label-circle {
    border-color: rgb(var(--color-foreground));

    &:before {
      content: "";
      width: 13px;
      height: 13px;
      position: absolute;
      top: 4px;
      left: 4px;
      background: rgb(var(--color-button));
      border-radius: 50%;
    }
  }
}

.picker-offer_label {
  height: 75px;
  margin-bottom: 2.5rem;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(var(--color-secondary-button));
  border: 2px solid rgba(var(--color-foreground), .5);
  cursor: pointer;
  border-radius: 10px;
}

.picker-offer_label-circle {
  width: 2.5rem;
  height: 2.5rem;
  display: block;
  position: relative;
  margin-right: 1rem;
  border: 2px solid rgba(var(--color-foreground), .5);
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.picker-offer_label-left {
  flex-grow: 1;
  padding-left: 1.5rem;
}

.picker-offer_label-savings {
  line-height: 2.3rem;
  border: 1px solid rgb(var(--color-foreground));
  font-size: 1.2rem;
  margin-right: 1rem;
  padding: 0 1.1rem;
  display: inline-block;
  border-radius: 20px;
  font-family: var(--font-accent-family);
  font-weight: 700;
  letter-spacing: -0.01em;
}

.picker-offer_label-text {
  font-size: 1.4rem;
  font-weight: 700;
  font-family: var(--font-heading-family);
  margin: 0;
}

.picker-offer_label-numbers {
  font-size: 1.2rem;
  font-weight: 700;
  font-family: var(--font-accent-family);
  color: rgba(var(--color-foreground), .5);
  margin: 0;
  letter-spacing: -0.05em;
}

.picker-submit_btn-text {
  font-size: 1.8rem;
  font-weight: 800;
  text-shadow: none;
  margin: 0 0 10px 0;
}


@media screen and (min-width: 750px) {
  .picker-offer_label-text {
    font-size: 16px;
  }

  .picker-offer_label-numbers {
    font-size: 18px;
  }
}

.picker-purchase_type-wrapper {
  height: 7.5rem;
  margin-bottom: 2.5rem;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(var(--color-secondary-button));
  border: 2px solid rgba(var(--color-foreground), .5);
  border-radius: 10px;
}

.picker-purchase_type-switch {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 2.4rem;
}

.picker-purchase_type {
  opacity: 0;
  width: 0;
  height: 0;
}

.picker-purchase_type-switcher {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(var(--color-foreground), .5);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 22px;

  &:before {
    position: absolute;
    content: "";
    height: 1.8rem;
    width: 1.8rem;
    left: .3rem;
    bottom: .3rem;
    background-color: rgb(var(--color-background));
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
}

.picker-purchase_type:checked+.picker-purchase_type-switcher {
  background: rgb(var(--color-button));

  &:before {
    transform: translateX(16px);
  }
}

.picker-purchase_type-content {
  flex-grow: 1;
  padding-left: 15px;

  h5 {
    font-size: 1.4rem;
    margin: .5rem;
  }

  span {
    font-size: 1.2rem;
    margin: .5rem;
  }
}

.picker-submit_btn {
  width: 100%;
  height: 7.6rem;
  flex-direction: column;
  transition: .4s;

  p {
    margin: .5rem;
  }
}

.picker-submit_btn-guarantee_icon path {
  transition: .4s;
}

.picker-submit_btn-guarantee_wrap {
  display: flex;
  align-items: center;
}

.picker-submit_btn-guarantee_text {
  font-size: 1.2rem;
}

@media screen and (min-width: 950px) {
  .picker-submit_btn-guarantee_text {
    font-size: 1.4rem;
  }
}

.picker-dogsizes_selector-trigger {
  display: block;
  text-align: center;
  line-height: 4.4rem;
  font-size: 1.6rem;
  cursor: pointer;
}

.picker-dogsizes {
  min-height: 42px;
  height: auto;
  min-width: 325px;
  width: 100%;
  border: 2px solid rgb(var(--color-foreground));
  border-radius: 30px;
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 2.5rem;
}

.picker-dogsize_link {
  text-decoration: none;
}

.picker-dogsizes_selector-target {
  opacity: 1;
  height: auto;
  transition: opacity 0.5s ease, height 0.5s ease;
}

.picker-step_title {
  font-size: 16px;
  letter-spacing: 0.01em;
  font-weight: 700;
  line-height: 140%;
  font-family: var(--font-heading-family);
  margin: 0 0 10px;
}

@media screen and (min-width: 950px) {
  .picker-dogsizes_selector-trigger {
    display: none;
  }

  .picker-dogsizes {
    border: none;
    padding: 0;
  }

  .picker-dogsizes_selector-target {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: unset !important;
    margin-left: -2px;
    margin-right: -2px;
    opacity: 1 !important;
    height: auto !important;
  }

  .picker-dogsize_input:checked+.picker-dogsize_label {
    width: inherit;
    margin-right: 2px;
    margin-left: 2px;
    border-color: rgb(var(--color-button));
  }

  .picker-dogsize_label {
    padding: 0 5px;
    white-space: nowrap;
    margin-right: 2px;
    margin-left: 2px;
    border: 2px solid rgb(var(--color-button));
    border-radius: 30px;
    font-size: 16px;
    letter-spacing: -0.05em;
  }

  .picker-dogsizes_1_label {
    width: 50%;
    min-width: 50%;
  }

  .picker-dogsizes_2_label {
    width: calc(100% / 2 - 4px);
    min-width: calc(100% / 2 - 4px);
  }
  .picker-dogsizes_3_label,
  .picker-dogsizes_5_label,
  .picker-dogsizes_6_label {
    width: calc(100% / 3 - 4px);
    min-width: calc(100% / 3 - 4px);
  }

  .picker-dogsizes_4_label {
    width: calc(100% / 4 - 4px);
    min-width: calc(100% / 4 - 4px);
  }
}

@media screen and (min-width: 1200px) {
  .product-main_left {
    width: 60%;
  }

  .product-main_right {
    width: 40%;
  }

  .picker-offer_label-savings {
    font-size: 18px;
  }
}

.product-main_hiw-info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.product-main_hiw-link {
  color: rgb(var(--color-button));
}

.product-main_benefits {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 16px;
  padding-bottom: 40px;
}

.benefits-style_squared_with_bg {
  text-align: center;
  border-radius: 12px;
  padding: 16px 12px;
  width: 33.3%;

  .product-main_benefit-text {
    font-size: 1.2rem;
    color: rgb(var(--color-button));
  }
}

.benefits-style_default_transparent_bg {
  width: 40%;
  display: flex;
  align-items: center;

  .product-main_benefit-copy {
    padding-left: 10px;
    font-size: 16px;
    font-weight: 400;
  }

  .product-main_benefit-title{
    font-size: 16px;
    font-weight: 800;
  }
}

.product-main_benefit-icon {
  width: 44px;
  height: auto;
}



@media screen and (min-width: 768px) {
  .product-main_benefit-icon {
    width: 53px;
  }
}
