.blog-placeholder-svg {
  height: 100%;
}

@media screen and (min-width: 990px) {
  .grid--1-col-desktop .article-card .card__content {
    text-align: center;
  }
}

.blog__title {
  margin: 0;
  width: 100%;
}

.blog__posts.articles-wrapper {
  margin-bottom: 1rem;
}

.blog__posts.articles-wrapper.static {
  row-gap: 2rem;
  column-gap: 3rem;
}

.blog--border {
  border-bottom: 1px solid rgb(var(--color-button));
}

.blog .article-card__image > img {
  border-left: 1px solid rgb(var(--color-button));
  border-right: 1px solid rgb(var(--color-button));
  border-top: 1px solid rgb(var(--color-button));
  border-radius: 18px 18px 0 0;
}

.blog .card__content.card__content--bottom {
  padding: 2rem 1.6rem;
  background: #ffffff;
  border-left: 1px solid rgb(var(--color-button));
  border-right: 1px solid rgb(var(--color-button));
  border-bottom: 1px solid rgb(var(--color-button));
  border-radius: 0 0 18px 18px;
}

.blog .article-card__image {
  background: transparent;
}

@media screen and (min-width: 990px) {
  .blog__posts.articles-wrapper {
    margin-bottom: 0;
  }

  .blog__posts.articles-wrapper {
    column-gap: 3rem;
  }

  .blog__posts.articles-wrapper .article {
    width: calc((100% / 3) - var(--grid-desktop-horizontal-spacing)* 2 / 3);
    max-width: calc((100% / 3) - 3rem);
  }
}

.blog__posts.articles-wrapper .article {
  scroll-snap-align: start;
}

@media screen and (max-width: 749px) {
  .blog__post.article {
    width: calc(100% - 3rem - var(--grid-mobile-horizontal-spacing));
  }
}

.background-secondary .blog-placeholder__content {
  background-color: rgb(var(--color-background));
}

.blog__posts .card-wrapper {
  width: 100%;
}

.blog__button {
  margin-top: 3rem;
}

@media screen and (min-width: 750px) {
  .blog__button {
    margin-top: 5rem;
  }
}

/* check for flexbox gap in older Safari versions */
@supports not (inset: 10px) {
  @media screen and (min-width: 750px) {
    .blog__posts .article + .article {
      margin-left: var(--grid-desktop-horizontal-spacing);
    }
  }
}
