.article-template > *:first-child:not(.article-template__hero-container) {
  margin-top: 5rem;
}

.article-details--wrap {
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 15px;
  column-gap: 10px;
  padding-top: 10px;
}

.article-breadcrumbs {
  display: flex;
  gap: 8px;
  align-items: center;
  padding-bottom: 10px;
}

.article-breadcrumbs--link {
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  text-underline-offset: 3px;
  text-decoration: underline;
  text-transform: uppercase;
  position: relative;
  color: rgb(var(--color-foreground));
}

.article-breadcrumbs--arrow {
  width: 11px;
  height: auto;
}

.article-details-item--author {
  grid-area: 1 / 1 / 2 / 3;
}

.article-details-item--date {
  grid-area: 2 / 1 / 3 / 2;
}

.article-details-item--estimated-time {
  grid-area: 2 / 2 / 3 / 3;
}

.article-details--wrap > span {
  text-transform: capitalize;
  font-size: 1.6rem;
  line-height: normal;
}

.article-details-item--estimated-time.line-divider {
  position: relative;
}

.article-details-item--estimated-time.line-divider:after {
  content: '';
  height: 16px;
  width: 1px;
  background: rgb(234, 234, 234);
  position: absolute;
  left: -6px;
  top: 50%;
  will-change: transform;
  transform: translateY(-50%) translateZ(0);
}

.article--socials {
  padding: 20px 15px;
  border-top: 1px solid rgb(245, 245, 245);
  border-bottom: 1px solid rgb(245, 245, 245);
}

.article--socials-heading {
  font-size: 1.6rem;
  color: rgb(var(--color-foreground));
  margin: 0;
}

.article--socials-icons {
  display: flex;
  gap: 6px;
  padding-top: 10px;
}

.article--socials-icons--center {
  justify-content: center;
}

.article--socials-icons > a > .icon {
  width: 24px;
  height: auto;
}

.article--socials-icons > a > .icon > path {
  fill: rgb(var(--color-button));
}

.article--socials-icons > a:hover > .icon > path {
  opacity: 0.75;
}

@media screen and (min-width: 750px) {
  .article-template > *:first-child:not(.article-template__hero-container) {
    margin-top: calc(5rem + var(--page-width-margin));
  }

  .article-details--wrap {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 1fr;
    padding-top: 30px;
    column-gap: 20px;
  }

  .article-details-item--author {
    grid-area: 1 / 1 / 2 / 2;
  }

  .article-details-item--date {
    grid-area: 1 / 2 / 2 / 3;
    position: relative;
  }

  .article-details-item--estimated-time {
    grid-area: 1 / 3 / 2 / 4;
  }

  .article-details-item--date:after {
    content: '';
    height: 25px;
    width: 1px;
    background: rgb(234, 234, 234);
    position: absolute;
    left: -10px;
    top: 50%;
    will-change: transform;
    transform: translateY(-50%) translateZ(0);
  }

  .article-details-item--estimated-time.line-divider:after {
    height: 25px;
    left: -10px;
  }

  .article--socials-heading {
    font-size: 1.8rem;
  }

  .article--socials-icons > a > .icon {
    width: 33px;
  }
}

.article-template__hero-container {
  margin: 0 auto;
}

.article-template__hero-small {
  height: 11rem;
}

.article-template__hero-medium {
  height: 22rem;
}

.article-template__hero-large {
  height: 33rem;
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .article-template__hero-small {
    height: 22rem;
  }

  .article-template__hero-medium {
    height: 44rem;
  }

  .article-template__hero-large {
    height: 66rem;
  }
}

@media screen and (min-width: 990px) {
  .article-template__hero-small {
    height: 27.5rem;
  }

  .article-template__hero-medium {
    height: 55rem;
  }

  .article-template__hero-large {
    height: 82.5rem;
  }
}

.article-template header {
  margin-top: 2rem;
  line-height: calc(0.8 / var(--font-body-scale));
  color: rgb(var(--color-foreground));
}

@media screen and (min-width: 750px) {
  .article-template header {
    margin-top: 2rem;
  }

  .article-template__title {
    font-size: 2.8rem;
  }
}

@media screen and (min-width: 990px) {
  .article-template header {
    margin-top: 4rem;
  }

  .article-template__title {
    font-size: 4rem;
  }
}

.article-template__title {
  margin: 0;
}

.article-template__link {
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.article-template__link .icon-wrap {
  display: flex;
  margin-right: 1rem;
  transform: rotate(180deg);
}

.article-template__content {
  margin-bottom: 3rem;
  color: rgb(var(--color-foreground));
}

.article-template__content > p,
.article-template__content > span {
  padding-top: 20px;
  color: rgb(var(--color-foreground));
  margin: 0;
}

.article-template__content a {
  color: rgb(var(--color-foreground));
}

.article-template__content > ul {
  padding-left: 1.5rem;
  padding-top: 2rem;
  margin: 0;
}

.article-template__content > ul > li:not(:first-child) {
  padding-top: 15px;
}

.article-template__content > ul > li {
  align-items: center;
  display: flex;
  color: rgb(var(--color-foreground));
}

.article-template__content > ul > li:before {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="21" height="18" viewBox="0 0 21 18" fill="none"><g clip-path="url(%23clip0_540_647)"><path d="M5.86797 16.9604L1.541 12.2158C1.19486 11.8362 1.21469 11.2635 1.58635 10.9069L2.66657 9.87046C3.05534 9.49745 3.68485 9.49745 4.07362 9.87046L6.62951 12.3227L16.9298 0.975859C17.3087 0.55848 17.9758 0.536385 18.3837 0.927713L19.4246 1.92644C19.7917 2.27871 19.8161 2.84292 19.4807 3.22329L7.37649 16.9484C6.98304 17.3945 6.26908 17.4002 5.86797 16.9604Z" stroke="black" stroke-width="2"/></g><defs><clipPath id="clip0_540_647"><rect width="20" height="18" fill="white" transform="translate(0.5)"/></clipPath></defs></svg>');
  width: 20px;
  height: auto;
}

.article-template__content > ul > li > span,
.article-template__content > ul > li > p {
  padding-top: 0;
  margin: 0 0 0 7px;
}

.article-template__content > p > br {
  content: '';
  margin: 0;
  display: block;
}

.article-template__social-sharing {
  margin-top: 3rem;
}

.article-template__social-sharing + header,
.article-template__social-sharing + .article-template__content {
  margin-top: 1.5rem;
}

.article-template__comment-wrapper {
  margin-top: 5rem;
  padding: 2.7rem 0;
}

@media screen and (min-width: 750px) {
  .article-template__content {
    margin-bottom: 4rem;
  }

  .article-breadcrumbs {
    padding-bottom: 35px;
  }

  .article-template__comment-wrapper {
    margin-top: 6rem;
    padding: 3.6rem 0;
  }

  .article-template__content > p,
  .article-template__content > span {
    font-size: 1.8rem;
    padding-top: 4rem;
  }

  .article-template__content > ul {
    padding-left: 4rem;
  }

  .article-template__content > ul > li > span,
  .article-template__content > ul > li > p {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1200px) {
  .article-breadcrumbs {
    padding-bottom: 55px;
  }

  .article-breadcrumbs--link {
    font-size: 1.6rem;
  }

  .article-breadcrumbs--arrow {
    position: relative;
    top: 2px;
  }

  .article-template__content > p,
  .article-template__content > span {
    font-size: 2.4rem;
    padding-top: 4.5rem;
  }

  .article-template__content > ul {
    padding-top: 4rem;
    padding-left: 7rem;
  }

  .article-template__content > ul > li > span,
  .article-template__content > ul > li > p {
    font-size: 2.4rem;
  }

  .article--socials-heading {
    font-size: 2.4rem;
  }

  .article--socials-icons {
    gap: 15px;
    padding-top: 20px;
  }

  .article--socials-icons > a > .icon {
    width: 54px;
  }
}

.article-template__comment-wrapper h2 {
  margin-top: 0;
}

.article-template__comments {
  margin-bottom: 5rem;
}

@media screen and (min-width: 750px) {
  .article-template__comments {
    margin-bottom: 7rem;
  }
}

.article-template__comments-fields {
  margin-bottom: 4rem;
}

.article-template__comments-comment {
  color: rgba(var(--color-foreground), 0.75);
  background-color: rgb(var(--color-background));
  margin-bottom: 1.5rem;
  padding: 2rem 2rem 1.5rem;
}

@media screen and (min-width: 750px) {
  .article-template__comments-comment {
    padding: 2rem 2.5rem;
  }
}

.article-template__comments-comment p {
  margin: 0 0 1rem;
}

.article-template__comment-fields > * {
  margin-bottom: 3rem;
}

@media screen and (min-width: 750px) {
  .article-template__comment-fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 4rem;
  }
}

.article-template__comment-warning {
  margin: 2rem 0 2.5rem;
}

@media screen and (min-width: 990px) {
  .article-template__comments .pagination-wrapper {
    margin: 5rem 0 8rem;
  }
}

.article-template__back:last-child {
  margin-bottom: 3.2rem;
}
