.js_slide_card_bottom {
  min-height: 77px;
  width: 100%;
  display: flex;
  align-items: center;
  background: #fff;
  border-top: 1px solid rgb(var(--dl_main_text_color));
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  transition: 0.3s;
}
.js_slide_card_bottom.active-class {
  bottom: -150px;
  transition: 0.3s;
}
.block_video_wrapper {
  position: relative;
}

.testimonials__slide_card_text_wrap {
  width: 100%;
  height: 100%;
  padding: 2.2rem 2.5rem 10rem 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  box-sizing: border-box;
}

.testimonials__slide_video {
  width: 100%;
  border-radius: 2rem;
}

.js_slide_card_bottom {
  min-height: 7.7rem;
  width: 100%;
  display: flex;
  align-items: center;
  background: rgb(255, 255, 255);
  border-top: 1px solid rgb(36, 36, 39);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;

  border-radius: 0 0 2rem 2rem;
}

.js_slide_card_bottom_wrap {
  width: 100%;
  display: grid;
  grid-template-columns: 10rem auto;
  align-items: center;
  padding-right: 1.5rem;
  position: relative;
}

.js_slide_card_bottom_wrap img {
  height: auto;
  width: 100%;
  position: relative;
  bottom: 3.5rem;
  z-index: 5;
}

.testimonials_slide_card_bottom_text {
  grid-area: 1 / 2;
  color: rgb(36, 36, 39);
  text-align: center;
  font-size: 1.2rem;
}

.block_video_wrapper {
  border-radius: 2rem;
  border: 0.1rem solid rgb(36, 36, 39);
}

.block_video_wrapper div.testimonials__slide_video_overlay {
  background-color: rgb(255, 255, 255);
  opacity: 0.8;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;

  border-radius: 2rem;
}

.testimonials__slide_card_text_heading {
  padding-top: 1rem;
  font-size: 1.6rem;
  line-height: 140%;
  color: rgb(0, 0, 0);
}
.testimonials__slide_card_text_content {
  padding-top: 2rem;
  font-size: 1.6rem;
  color: rgb(0, 0, 0);
}

span.deferred-media__poster-button {
  background-color: transparent;
}

.testimonials__slide_card_text_name {
  padding-top: 2rem;
  font-size: 1.6rem;
  color: rgb(0, 0, 0);
}

.testimonials__wrap {
  padding: 4rem 0 4rem 2rem;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.testimonials__desktop_left_block {
  flex: 0 0 100%;
  max-width: 100%;
  padding-right: 3rem;
  padding-left: 0;
}

.testimonials__desktop_right_block {
  padding: 3rem 0 0 0;
  flex: 0 0 100%;
  max-width: 100%;
}

.testimonials-title {
  font-size: 2.4rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.testimonials__wrap .slider.slider--desktop.slider--tablet {
  overflow-y: hidden;
}

.testimonials__wrap .grid.product-grid .grid__item {
  min-width: 70%;
}

.grid--peek.slider .grid__item:first-of-type {
  margin-left: 0;
}

.testimonials__wrap .slider-buttons {
  margin-top: 3.5rem;
  display: flex;
  gap: 4.6rem;
}

.testimonials_slider_buttons_desktop {
  display: flex;
  gap: 4.6rem;
}

.prev-button.data-slider-button {
  rotate: 180deg;
}

.data-slider-button:hover {
  background-color: rgb(197, 234, 194);
}

button.slider-button .icon {
  height: auto;
}

.block_video_wrapper video {
  display: block;
}

.testimonials__wrap button.slider-button[disabled] .icon {
  color: rgb(16, 87, 80);
}

.testimonials__wrap button.slider-button--prev .icon {
  rotate: 90deg;
}

.testimonials__wrap button.slider-button--next .icon {
  transform: rotate(0deg);
}

.data-slider-button,
.testimonials__wrap button.slider-button {
  width: 4.6rem;
  height: 4.6rem;
  background: rgb(197, 250, 84);
  border: 2px solid rgb(23, 68, 61);
  position: relative;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(16, 87, 80);
}

.testimonials__slide_stars svg path {
  fill: rgb(16, 87, 80);
}

@media screen and (max-width: 767px) {
  .testimonials_slider_buttons_desktop {
    display: none;
  }
}

@media screen and (min-width: 460px) {
  .testimonials__wrap .grid.product-grid .grid__item {
    min-width: 65%;
  }
}

@media screen and (min-width: 500px) {
  .testimonials__wrap .grid.product-grid .grid__item {
    min-width: 55%;
  }
}

@media screen and (min-width: 680px) {
  .testimonials__wrap .grid.product-grid .grid__item {
    min-width: 43%;
  }
}

@media screen and (min-width: 768px) {
  .testimonials_slide_card_bottom_text {
    font-size: 1.8rem;
  }

  .testimonials_slider .slider-buttons {
    display: none;
  }

  .testimonials-title {
    font-size: 2.8rem;
  }

  .testimonials__slide_card_text_wrap {
    padding: 5.5rem 2.5rem 10rem 3rem;
  }

  .testimonials__wrap {
    padding: 8rem 0;
    align-items: center;
    justify-content: center;
  }

  .testimonials__desktop_left_block {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .testimonials__desktop_right_block {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .testimonials__wrap .grid.product-grid .grid__item {
    min-width: 70%;
  }
}

@media screen and (min-width: 992px) {
  .testimonials__desktop_left_block {
    margin-left: 8.333333%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .testimonials__wrap .grid.product-grid .grid__item {
    min-width: 66%;
  }
}

@media screen and (min-width: 1200px) {
  .testimonials-title {
    font-size: 4rem;
  }

  .testimonials__desktop_left_block {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }

  .testimonials__desktop_right_block {
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }

  .testimonials__wrap .grid.product-grid .grid__item {
    min-width: 44%;
    max-width: 35rem;
  }
}

@media screen and (min-width: 1600px) {
  .testimonials__wrap .grid.product-grid .grid__item {
    min-width: 36%;
  }
}
