.multicolumn .title {
  margin: 0;
}

slideshow-component {
  position: relative;
}

.multicolumn__title h2,
.multicolumn__title h4,
.multicolumn__title p {
  display: block;
  width: 100%;
}

.multicolumn-card__info h3 {
  text-align: center;
}

.multicolumn-card__info h3 strong {
  text-align: center;
}

.slider--tablet .multicolumn-list__item + .multicolumn-list__item {
  margin-left: 0;
}

.multicolumn-list.contains-content-container:after {
  display: none;
}

.multicolumn-list .slider-counter.caption {
  display: none;
}

slider-component.slider-component-desktop {
  --desktop-margin-left-first-item: 0;
}

.multicolumn-card--description {
  max-height: 1px;
  opacity: 0;
}

input.multicolumn-card--input {
  display: none;
}

input.multicolumn-card--input:checked ~ .multicolumn-card--description {
  max-height: 100%;
  opacity: 1;
}

.multicolumn-card--heading:hover {
  cursor: pointer;
  color: rgb(30, 189, 154);
}

input.multicolumn-card--input:checked ~ .multicolumn-card--heading {
  display: none;
}

.multicolumn-card--additional-description {
  margin-top: 20px;
}

.multicolumn-card--heading {
  text-decoration: underline;
  color: rgb(16, 87, 80);
}

.icon-slider-arrow {
  height: 49px;
  width: 49px;
  color: rgb(15, 23, 42);
}

.multicolumn .page-width.full-width {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.enable_slide_border_radius {
  border: 1px solid #000000;
  border-radius: 6px;
}

.media_border {
  border: 1px solid #000000;
}

.media_border_radius {
  border-radius: 6px;
}

@media screen and (min-width: 375px) {
  .multicolumn .page-width.full-width {
    max-width: 50.4rem;
  }
}

@media screen and (min-width: 576px) {
  .multicolumn .page-width.full-width {
    max-width: 70.2rem;
  }
}

@media screen and (min-width: 768px) {
  .multicolumn .page-width.full-width {
    max-width: 90.6rem;
  }

  slider-component {
    position: relative;
  }

  .multicolumn-list__item.grid__item.slider__slide {
    width: 40%;
  }

  /* .slider-buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }

  .slider-button--prev {
    position: absolute;
    left: -1rem;
  }
  .slider-button--next {
    position: absolute;
    right: -1rem;
  } */
}

@media screen and (min-width: 992px) {
  .multicolumn .page-width.full-width {
    max-width: 100.2rem;
  }
}

@media screen and (min-width: 990px) {
  .multicolumn-list.slider--desktop .slider__slide:first-child {
    margin-left: 0;
  }

  .multicolumn-list.slider--desktop:after {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .multicolumn .page-width.full-width {
    max-width: 160.8rem;
  }
}

.multicolumn.no-heading .title {
  display: none;
}

.multicolumn .title-wrapper-with-link {
  margin-top: 0;
}

@media screen and (max-width: 749px) {
  .multicolumn .title-wrapper-with-link {
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .multicolumn__title {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media screen and (max-width: 989px) {
  .multicolumn .page-width {
    padding-left: 0;
    padding-right: 0;
  }
}

.multicolumn-card__image-wrapper--third-width {
  width: 33%;
}

.multicolumn-card__image-wrapper--half-width {
  width: 50%;
}

.multicolumn-list__item.center .multicolumn-card__image-wrapper:not(.multicolumn-card__image-wrapper--full-width),
.multicolumn-list__item:only-child {
  margin-left: auto;
  margin-right: auto;
}

.multicolumn .button {
  margin-top: 1.5rem;
}

.multicolumn-list__item.grid__item.slider__slide {
  width: 85%;
}

.multicolumn-list.slider--tablet {
  gap: 1.5rem;
}

@media screen and (min-width: 750px) {
  .multicolumn-list.slider--tablet {
    gap: 0.6rem;
  }
}

.multicolumn-card_description p {
  font-size: 1.4rem;
}

slideshow-component .multicolumn.background-none .multicolumn-card {
  padding-right: 2.5rem;
  margin-right: 0;
}

/* .multicolumn-list {
  gap: 2.5rem;
} */

/* .multicolumn-card.content-container {
  margin-right: 2.5rem;
} */

.multicolumn-list_subheading {
  font-size: 1.6rem;
}

.multicolumn-card__info strong {
  font-size: 1.8rem;
}

.slider-buttons.pagination_buttons .slider-button--prev {
  display: none;
}
.slider-buttons.pagination_buttons .slider-button--next {
  display: none;
}

.slider-buttons.pagination_buttons {
  position: relative;
}

.multicolumn-list .slider-counter.slider-counter--dots {
  width: 100%;
}

.multicolumn-list .slider-counter__link--dots.link {
  padding: 0;
  width: 12.5%;
  background-color: #b6b3b3;
  height: 0.5rem;
}

.multicolumn-list .link.slider-counter__link--active {
  background-color: rgb(23, 68, 61);
}

.multicolumn-card--heading {
  font-size: 1.4rem;
}

.multicolumn-list .slider-buttons.pagination_buttons .slider-counter.slider-counter--dots .slideshow__control-wrapper {
  padding: 0 1.5rem;
  width: 100%;
  height: 5px;

  position: relative;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

@media screen and (min-width: 750px) {
  .multicolumn .button {
    margin-top: 4rem;
  }

  .multicolumn-card_description p {
    font-size: 1.4rem;
  }

  .multicolumn-list_subheading {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 600px) {
  .slider.slider--tablet.contains-content-container .slider__slide {
    width: 49%;
  }
}

@media screen and (min-width: 768px) {
  .slider.slider--tablet.contains-content-container .slider__slide {
    width: 41%;
  }

  .multicolumn_title.h1 {
    font-size: 4.5rem;
  }
}

@media screen and (min-width: 965px) {
  .slider.slider--tablet.contains-content-container .slider__slide {
    width: 32%;
  }
}

@media screen and (min-width: 1200px) {
  .slider.slider--tablet.contains-content-container .slider__slide {
    width: 33%;
  }
}

@media screen and (min-width: 990px) {
  .multicolumn-list__item.grid__item.slider__slide {
    width: 20%;
  }

  .slider-buttons.pagination_buttons {
    position: absolute;
  }

  .slider-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
  }

  .slider-button--prev {
    left: -5rem;
    position: absolute;
  }

  .slider-button--next {
    position: absolute;
    right: -5rem;
  }

  .multicolumn-list .slider-buttons.pagination_buttons .slider-counter--dots {
    display: none;
  }

  .slider-buttons.pagination_buttons .slider-button--prev,
  .slider-buttons.pagination_buttons .slider-button--next {
    display: block;
  }
}

.multicolumn-list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.multicolumn-list__item:only-child {
  max-width: 72rem;
}

.multicolumn-list__item--empty {
  display: none;
}

.multicolumn:not(.background-none) .multicolumn-card {
  background: rgb(var(--color-background));
  height: 100%;
}

.multicolumn.background-primary .multicolumn-card {
  background: rgb(var(--color-background))
    linear-gradient(rgba(var(--color-foreground), 0.04), rgba(var(--color-foreground), 0.04));
}

.multicolumn-list h3 {
  line-height: calc(1 + 0.5 / max(1, var(--font-heading-scale)));
}

.multicolumn-list h3,
.multicolumn-list p {
  margin: 0;
}

.multicolumn-card-spacing {
  padding-top: 2.5rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.multicolumn-card__info > :nth-child(2) {
  margin-top: 1rem;
}

.multicolumn-list__item.center .media--adapt,
.multicolumn-list__item .media--adapt .multicolumn-card__image {
  width: auto;
}

.multicolumn-list__item.center .media--adapt img {
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 749px) {
  .multicolumn-list {
    margin: 0;
    width: 100%;
  }

  .multicolumn-list:not(.slider) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .multicolumn-list:not(.slider) {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media screen and (min-width: 750px) {
  .multicolumn-list.slider {
    padding: 0;
  }

  .multicolumn-list__item,
  .grid--4-col-desktop .multicolumn-list__item {
    padding-bottom: 0;
  }

  .background-none .grid--2-col-tablet .multicolumn-list__item {
    margin-top: 4rem;
  }
}

.background-none .multicolumn-card-spacing {
  padding: 0;
  margin: 0;
}

.multicolumn-card__info {
  padding: 2.5rem;
}

.background-none .multicolumn-card__info {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.background-none .slider .multicolumn-card__info {
  padding-bottom: 0;
}

.background-none .multicolumn-card__image-wrapper + .multicolumn-card__info {
  padding-top: 2.5rem;
}

.background-none .slider .multicolumn-card__info {
  padding-left: 0.5rem;
}

.background-none .slider .multicolumn-card__image-wrapper + .multicolumn-card__info {
  padding-left: 1.5rem;
}

.background-none .multicolumn-list:not(.slider) .center .multicolumn-card__info {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

@media screen and (max-width: 749px) {
  .background-none .slider .multicolumn-card__info {
    padding-bottom: 1rem;
  }

  .multicolumn.background-none .slider.slider--mobile {
    margin-bottom: 0rem;
  }
}

@media screen and (min-width: 750px) {
  .background-none .multicolumn-card__image-wrapper {
    margin-left: 1.5rem;
  }

  .background-none .multicolumn-list .multicolumn-card__info,
  .background-none .multicolumn-list:not(.slider) .center .multicolumn-card__info {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.multicolumn-card {
  position: relative;
  box-sizing: border-box;
}

.multicolumn-card > .multicolumn-card__image-wrapper--full-width:not(.multicolumn-card-spacing) {
  border-top-left-radius: calc(var(--text-boxes-radius) - var(--text-boxes-border-width));
  border-top-right-radius: calc(var(--text-boxes-radius) - var(--text-boxes-border-width));
  overflow: hidden;
}

.multicolumn.background-none .multicolumn-card {
  border-radius: 0;
}

.multicolumn-card__info .link {
  text-decoration: none;
  font-size: inherit;
  margin-top: 1.5rem;
}

.multicolumn-card__info .icon-wrap {
  margin-left: 0.8rem;
  white-space: nowrap;
}

@media screen and (min-width: 990px) {
  .multicolumn-list__item--empty {
    display: list-item;
  }
}
