.rich-text {
  z-index: 1;
}

.rich-text--border {
  border-top: 1px solid rgb(var(--color-link));
  border-bottom: 1px solid rgb(var(--color-link));
}

.line-through {
  text-decoration: line-through;
}

.rich-text__heading {
  margin: 0;
}

.rich-text__wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.rich-text:not(.rich-text--full-width) .rich-text__wrapper {
  margin: auto;
  width: calc(100% - 8rem / var(--font-body-scale));
}

.rich-text__blocks {
  width: 100%;
}

.rich-text__blocks > .rich-text__image {
  margin: 3rem auto 0;
}

.rich-text__image--media {
  background-color: transparent;
}

.rich-text__image--media > .rich-text__image--media-img {
  object-fit: contain;
}

.rich-text__image--media > .placeholder-svg {
  width: 100%;
}

.rich-text__blocks > .rich-text__list {
  margin-bottom: 3rem;
}

.rich-text__list:nth-child(2) {
  margin-top: 2rem;
}

.rich-text__list:nth-child(n+3) {
  padding-top: 2rem;
  border-top: 1px solid rgba(var(--color-foreground), 0.1);
}

.rich-text__list:last-child {
  margin-bottom: 0;
}

.rich-text__list--center {
  text-align: center;
}

.rich-text__list--left {
  text-align: left;
}

.rich-text__list--right {
  text-align: right;
}

.rich-text__list-heading {
  margin: 0;
  color: rgb(var(--color-link));
}

.rich-text__list-rte {
  padding-top: 1rem;
}

.rich-text__custom {
  margin: 0 auto;
}


@media screen and (max-width: 749px) {
  .rich-text__image--media-mobile {
    display: block;
  }

  .rich-text__image--media-desktop {
    display: none;
  }

  .rich-text__list-heading {
    font-size: 2rem;
  }
}


@media screen and (min-width: 750px) {
  .rich-text__wrapper {
    width: 100%;
    padding: 0 3rem;
  }

  .rich-text__wrapper--left {
    justify-content: flex-start;
  }

  .rich-text__wrapper--right {
    justify-content: flex-end;
  }

  .rich-text__text {
    font-size: calc(var(--font-heading-scale) * 1.65rem);
  }

  .rich-text__image--media-mobile {
    display: none;
  }

  .rich-text__image--media-desktop {
    display: block;
  }

  .rich-text__list-heading {
    font-size: 2.2rem;
  }

}

.rich-text__blocks > * + * {
  margin-top: 2.2rem;
}

@media screen and (max-width: 989px) {
  .rich-text p + p {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 990px) {
  .rich-text p + p {
    margin-top: 2.7rem;
  }

  .rich-text__list-heading {
    font-size: 3.2rem;
  }

  .rich-text__list:nth-child(2) {
    margin-top: 4rem;
  }

  .rich-text__list-rte {
    padding-top: 2rem;
  }

  .rich-text__list:nth-child(n+3) {
    padding-top: 4rem;
  }

}

.rich-text__blocks * {
  overflow-wrap: break-word;
}

.rich-text__blocks > * {
  margin-bottom: 0;
}

.rich-text__blocks > * + a {
  margin-top: 3rem;
}

.rich-text__buttons {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  max-width: 45rem;
  word-break: break-word;
}

.rich-text__buttons--multiple > * {
  flex-grow: 1;
  min-width: 22rem;
}

.rich-text__buttons + .rich-text__buttons {
  margin-top: 1rem;
}

.rich-text__blocks.left .rich-text__buttons {
  justify-content: flex-start;
}

.rich-text__blocks.right .rich-text__buttons {
  justify-content: flex-end;
}
